<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>New Job</h1>
<form class="" action="/client" method="post">
  Name: <input type="text" name="name" value=""> </br>
  Job: <select type="Job" name="Job">
    <option type='Job' value="Outside">Outside</option>
    <option type='Job' value="House">House</option>
    <option type='Job' value="Room">Room</option>
  </select> </br>
  <input type="submit" value="Submit">

</form>




  </body>
</html>
