<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>Create New Job/Agree to Job</h1>
<form action="/cleaner" method="post">
  Client Name: <input type="text" name="name"> </br>
  

</form>



  </body>
</html>
